ul.basket {
    width: 264px !important;
}

sup.totalItems {
    background: black;
    border-radius: 50%;
    color: white;
    padding: 0px 5px 0px 5px;
}

.basket {
    background: #fff !important;
}

.basketImage {
    width: 84%;
    border-radius: 50%;
    padding: 4px 0px 3px 22px;
}

.image {
    width: 30%;
}

.description {
    width: 50%;
    font-size: 12px;
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
}

.price {
    width: 20%;
    font-size: 12px;
    font-weight: bold !important;
    font-family: monospace;
}

.montant {
    width: 30%;
    font-size: 22px;
    font-weight: bold !important;
    font-family: monospace;
    padding-right: 2px;
}

.titre {
    width: 33%;
    font-size: 12px;
    font-weight: bold !important;
    font-family: monospace;
    padding-right: 2px;
}

.panier {
    width: 31%;
    font-size: 12px;
}

button.panierBtn {
    float: right;
}

span.titre {
    margin: 18px;
    text-transform: capitalize;
    font-weight: bold;
}

.row.totalPrice {
    position: relative;
    top: 9px;
}