.hover-content ul li a .fa {
  position: relative;
  top: 7px !important;
  color: orange;
}

#products .item .thumb .hover-content ul li a {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: #2a2a2a;
  background-color: #fffdfd;
  border-radius: 32%;
}

#products .pagination ul li a {
  border-radius: 32% !important;
}

#products .item .down-content ul.stars {
  color: orange;
}

.box {
  position: relative;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(230, 227, 230, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(230, 227, 230, 1);
  box-shadow: -1px 4px 5px 0px rgba(230, 227, 230, 1);
}
#products .item .thumb img {
  position: relative;
  top: 15px;
  width: 100%;
  overflow: hidden;
}

#products .item .down-content div.row span.reservation {
  position: absolute;
  right: 0;
}
span.reservation {
    background-color: #1a73e8;
    width: 26%;
    height: 26px;
    border-radius: 6px;
    margin-right: -9px;
    color: white;
    font-size: 12px;
}
#products .item .down-content span{
    margin-left: 10px;
}
#products .item .down-content span.reservation span{
    color: #ffff;
    margin-left: 10px!important;
    cursor: pointer;
}
#products .item {
    margin-bottom: 10px;
}